.heading {
    font-family: 'Poppins', sans-serif;
}
.text-bold {
    font-weight: bold;
}
.text-normal {
    font-weight: initial;
}
.text-center {
    text-align: center;
}
.text-greyish-blue {
    color: hsl(208, 11%, 55%);
}
.text-dark-cyan {
    color: hsl(192, 100%, 9%);
}
.text-white {
    color: #ffffff;
}
.text-pink {
    color: hsl(322, 100%, 63%);
}
.font60 {
    font-size: 60%;
}
.font80 {
    font-size: 80%;
}
.font70 {
    font-size: 70%;
}
p, h4, h5 {
    margin: 0;
}
h6 {
    font-size: 110%;
}
h5 {
    font-size: 120%;
}
h4 {
    font-size: 130%;
}
h3 {
    font-size: 150%;
}
h2 {
    font-size: 170%;
}
h1 {
    font-size: 200%;
}
